* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #232323; */
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #C3BA99;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.container {
    padding: 10px 10%;
}


/**** Header Section ****/

.header-sect {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/home-bg.jpg);
    position: relative;
}

.header-text {
    font-size: 25px;
    margin-top: 20%;
    text-align: center;
}

.btn {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #C3BA99;
    color: white;
    font-size: 18px;
    margin: 30px 0;
    transition: 0.5s;
}

.btn:hover {
    background-color: #C3BA99;
}

/**** Welcome Section ****/

.welcome-sect {
    width: 100%;
    height: auto;
    color: black;
    padding: 7em 12%;
}

.welcome-sect .icon {
    margin-bottom: 1.5em;
    font-size: 30px;
    color: #C3BA99;
}

.welcome-sect .icon:hover {
    transform: translateY(-4px);
}

.welcome-text {
    font-size: 20px;
    text-align: center;
}

.welcome-text p {
    line-height: 2;
}

.white-btn {
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #C3BA99;
    background-color: #C3BA99;
    color: white;
    font-size: 18px;
    margin: 2em 0;
}

.white-btn:hover {
    color: #C3BA99;
    border: 1px solid #C3BA99;
    background-color: transparent;
}

/**** App Section ****/

.app-sect {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    padding: 5em 10%;
    background-color: #333;
}

.app-text {
    margin: 1em 5em;
}

.app-text h1 {
    font-size: 45px;
    padding-bottom: 0.5em;
}

.app-description {
    margin: 1em 2em;
    line-height: 2;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-column {
    flex: 1;
}

.left-column img {
    max-width: 100%;
    height: auto; 
}

.right-column {
    flex: 1;
    padding: 3em;
    text-align: center; 
    flex-direction: column;
    align-items: center;
}

.right-column img {
    max-width: 50%;
    height: auto; 
    margin: 0.5em;
}

.right-column img:hover {
    transform: translate(2px,-2px);
}

.right-column p {
    margin: 0.5em;
}

/**** Carousel Section ****/

button{
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    transition: all .3s ease-in-out;
}

.carousel-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #C3BA99;
  justify-content: center;
  align-items: center;
}

.carousel-section h1 {
    font-size: 45px;
    margin-top: 2em; 
    margin-bottom: 0.25em;
    color: #333
  }  

.carousel-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.25s ease-in;
  padding-bottom: 3em;
}

.carousel-view .item-list {
  max-width: 80%;
  width: 80vw;
  padding: 30px 20px;
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background: none;
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}

.item {
  scroll-snap-align: center;
  min-width: 300px;
  height: auto;
  background-color: #C3BA99;
  border-radius: 5px;
}

/**** Footer Section ****/
.footer {
    background-color: #333;
    text-align: center;
    color: white;
}

.footer-content {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    max-width: 20em;
    padding: 0.5em 0;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.contact-item {
    gap: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 1.5em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-text {
    display: none;
    font-size: 1.2em;
    color: #444;
    padding-right: 0.5em;
    transition: opacity 0.3s ease;
}

.contact-item:hover {
    background-color: white;
    border-radius: 15px;
    transform: scale(1.05); /* Slight zoom effect for better hover feedback */
}

.contact-item:hover .contact-text {
    display: inline-block;
    color: #444;
    opacity: 1; /* Ensure text becomes visible smoothly */
}

.copyright {
    background-color: #222;
    color: white;
    font-size: 14px;
    padding: 1em 0;
}

/* Additional Responsive Design */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        gap: 0.5em;
    }
}
